@import "tailwindcss";

:root {
    /* Enforce Black & White Theme */
    --background: #000000;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-outfit); 
}

/* Hide scrollbar */
html,
body,
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
}

/* Chrome, Safari, Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@layer utilities {
    .pixel-mesh {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.15) 0.5px,
                transparent 0.5px
            ),
            linear-gradient(90deg, rgba(42, 42, 42, 0.042) 0.5px, transparent 0.5px);
        background-size: 3px 3px;
        pointer-events: none;
    }
}

/* Custom Scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.05); /* Thumb Track */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    display: block !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}
