@import "tailwindcss";

:root {
    /* Enforce Black & White Theme */
    --background: #000000;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-outfit); 
}

/* Hide scrollbar */
html,
body,
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Chrome, Safari, Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--background);
    color: var(--foreground);
}
